@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
     font-family: var(--font-poppins);
  background-image: url(/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.duelert-text {
  font-size: 5vmin;
  color: #303030;
  font-weight: 400;
  word-wrap: break-word;
}